## Задание

#### Провести анализ выгрузки и ответить на вопросы:
1	Сколько можно сделать шагов максимально/минимально при утилизации ягод в разрезе разных данных  
2	Дайте полный анализ несоответствия данных справочника и выгрузки  
3	Составьте сводную таблицу с итогами количества ягод по цвету  
4	Укажите сколько ягод имеют разные цвета в пределах первой половины справочника  
5	Найти соотношение количества ягод из выгрузки при котором будет сделано 0 шагов  
6	Найти соотношение количества ягод из выгрузки при котором будет сделано от 50  до 80 шагов  
7	Определить в какие по счету дни ягоды не обнаруживаются  
8	Определить в какой день недели обнаружено больше всего ягод белого цвета

In [1]:
# импортируем нужные библиотеки
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
# загружаем данные в датафреймы
df_discharge = pd.read_csv('выгрузка.csv', sep=';', encoding='1251')

In [3]:
df_discharge.head()

          ягода  вес     цвет дата обнаружения
0      брусника    6    белый       18.02.2014
1       ежевика    5  красный       01.08.2012
2        малина    4  красный       07.07.2013
3  волчья ягода    4    белый       01.03.2002
4     крыжовник    5   черный       18.02.2017

In [4]:
df_discharge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 651 entries, 0 to 650
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ягода             651 non-null    object
 1   вес               651 non-null    int64
 2   цвет              651 non-null    object
 3   дата обнаружения  651 non-null    object
dtypes: int64(1), object(3)
memory usage: 20.5+ KB

In [5]:
df_directory = pd.read_csv('справочник.csv', sep=';', encoding='1251')

In [6]:
df_directory

          ягода  вес  шагов дает  количество в лесу
0      брусника    5          20                 50
1       ежевика    6          15                 60
2        малина    4          13                 70
3  волчья ягода    5         -18                100
4     крыжовник    6           5                 80
5      брусника    5           8                 90
6       ежевика    4          23                 60
7        малина    4          19                 10
8         арбуз  250         900                  1
9       черника    7          18                 20

Загрузили данные в датафреймы, теперь можно приступать к заданиям.

#### 1	Сколько можно сделать шагов максимально/минимально при утилизации ягод в разрезе разных данных

Не очень понимаю задания, как шаги увязать с выгрузкой. Что значит столбец "шагов дает". Что значит "утилизация" в контексте наших данных, и что значит "в разрезе РАЗНЫХ данных".

#### 2	Дайте полный анализ несоответствия данных справочника и выгрузки

Общие столбцы у нас это название ягоды и вес, также из выгрузки можно получить общее кол-во ягод в лесу.

In [7]:
df_directory['ягода'].unique()

array(['брусника', 'ежевика', 'малина', 'волчья ягода', 'крыжовник',
       'арбуз', 'черника'], dtype=object)

In [8]:
# разные ягоды в справочнике
diff_berry_dir = df_directory['ягода'].unique()
diff_berry_dir

array(['брусника', 'ежевика', 'малина', 'волчья ягода', 'крыжовник',
       'арбуз', 'черника'], dtype=object)

In [9]:
# разные ягоды в выгрузке
diff_berry_dis = df_discharge['ягода'].unique()
diff_berry_dis

array(['брусника', 'ежевика', 'малина', 'волчья ягода', 'крыжовник'],
      dtype=object)

In [10]:
# различия между двумя массивами
np.setdiff1d(diff_berry_dir, diff_berry_dis)

array(['арбуз', 'черника'], dtype=object)

В справочнике есть ягоды 'арбуз' и 'черника', в выгрузке их нет.

Посмотрим что с количеством.

In [11]:
df_discharge.head()

          ягода  вес     цвет дата обнаружения
0      брусника    6    белый       18.02.2014
1       ежевика    5  красный       01.08.2012
2        малина    4  красный       07.07.2013
3  волчья ягода    4    белый       01.03.2002
4     крыжовник    5   черный       18.02.2017

In [12]:
# выведем общее количество ягод в выгрузке
for berry in df_discharge['ягода'].unique():
    print(berry, end=' - ')
    print(df_discharge['ягода'][df_discharge['ягода'] == berry].count())

брусника - 132
ежевика - 130
малина - 152
волчья ягода - 148
крыжовник - 89

In [13]:
# выведем общее количество ягод в справочнике
for berry in df_directory['ягода'].unique():
    print(berry, end=' - ')
    print(df_directory['количество в лесу'][df_directory['ягода'] == berry].sum())

брусника - 140
ежевика - 120
малина - 80
волчья ягода - 100
крыжовник - 80
арбуз - 1
черника - 20

Видим, что разное количесво для каждых ягод в выгрузке и в справочнике

In [14]:
df_directory

          ягода  вес  шагов дает  количество в лесу
0      брусника    5          20                 50
1       ежевика    6          15                 60
2        малина    4          13                 70
3  волчья ягода    5         -18                100
4     крыжовник    6           5                 80
5      брусника    5           8                 90
6       ежевика    4          23                 60
7        малина    4          19                 10
8         арбуз  250         900                  1
9       черника    7          18                 20

In [15]:
# в справочнике есть одинаковые ягоды с разным весом, посмотрим что в справочнике и что в выгрузке
for berry in df_directory['ягода'].unique():
    print(berry, end=' - ')
    print(df_directory['вес'][df_directory['ягода'] == berry].unique())

брусника - [5]
ежевика - [6 4]
малина - [4]
волчья ягода - [5]
крыжовник - [6]
арбуз - [250]
черника - [7]

т.е. только ежевика имеет разный вес, посмотрим что в выгрузке

In [16]:
for berry in df_discharge['ягода'].unique():
    print(berry, end=' - ')
    print(df_discharge['вес'][df_discharge['ягода'] == berry].unique())

брусника - [6 5 4]
ежевика - [5 7 6]
малина - [4]
волчья ягода - [4 6 5]
крыжовник - [5 6 7]

в выгрузке все кроме малицы могут быть трех разных весов.

#### 3 Составьте сводную таблицу с итогами количества ягод по цвету

In [17]:
# по цверу в разрезе ягод
pivot_color_berry = df_discharge.pivot_table(
                        index='ягода', 
                        columns='цвет', 
                        values='вес', 
                        aggfunc='count')
pivot_color_berry

цвет          белый  зеленый  красный  черный
ягода
брусника         58       20       31      23
волчья ягода     62       16       45      25
ежевика          58       18       32      22
крыжовник        38       13       26      12
малина           70       23       41      18

In [18]:
# общее количество по цвету, независимо от вида ягоды
pivot_color = df_discharge.pivot_table(
                        index='цвет', 
#                        columns='цвет', 
                        values='вес', 
                        aggfunc='count')
pivot_color

         вес
цвет
белый    286
зеленый   90
красный  175
черный   100

#### 4 Укажите сколько ягод имеют разные цвета в пределах первой половины справочника

In [19]:
df_directory

          ягода  вес  шагов дает  количество в лесу
0      брусника    5          20                 50
1       ежевика    6          15                 60
2        малина    4          13                 70
3  волчья ягода    5         -18                100
4     крыжовник    6           5                 80
5      брусника    5           8                 90
6       ежевика    4          23                 60
7        малина    4          19                 10
8         арбуз  250         900                  1
9       черника    7          18                 20

In [20]:
# Найдем индекс последнего элемента первой половины справочника
half_dir_ind = len(df_directory) // 2 - 1 # -1 т.к. индексация начинается с 0.
half_dir_ind

4

In [21]:
df_half_dir = df_directory.loc[:half_dir_ind]
df_half_dir

          ягода  вес  шагов дает  количество в лесу
0      брусника    5          20                 50
1       ежевика    6          15                 60
2        малина    4          13                 70
3  волчья ягода    5         -18                100
4     крыжовник    6           5                 80

In [22]:
x = 0 # кол-во ягод где больше 1 разных цветов
for berry in df_half_dir['ягода'].unique():
    diff_colors = len(df_discharge['цвет'][df_discharge['ягода'] == berry].unique())
    if diff_colors > 1:
        x += 1
print(f'{x} ягод имеют разные цвета в пределах первой половины справочника')

5 ягод имеют разные цвета в пределах первой половины справочника

In [23]:
# Ну и можем в этом убедиться распечатав встречающиеся цвета ягод
for berry in df_half_dir['ягода'].unique():
    print(berry, end=':\nцвета: ')
    print(df_discharge['цвет'][df_discharge['ягода'] == berry].unique())

брусника:
цвета: ['белый' 'зеленый' 'красный' 'черный']
ежевика:
цвета: ['красный' 'белый' 'черный' 'зеленый']
малина:
цвета: ['красный' 'белый' 'черный' 'зеленый']
волчья ягода:
цвета: ['белый' 'красный' 'зеленый' 'черный']
крыжовник:
цвета: ['черный' 'белый' 'красный' 'зеленый']

#### 8 Определить в какой день недели обнаружено больше всего ягод белого цвета

In [24]:
df_discharge.head()

          ягода  вес     цвет дата обнаружения
0      брусника    6    белый       18.02.2014
1       ежевика    5  красный       01.08.2012
2        малина    4  красный       07.07.2013
3  волчья ягода    4    белый       01.03.2002
4     крыжовник    5   черный       18.02.2017

In [25]:
df_discharge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 651 entries, 0 to 650
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ягода             651 non-null    object
 1   вес               651 non-null    int64
 2   цвет              651 non-null    object
 3   дата обнаружения  651 non-null    object
dtypes: int64(1), object(3)
memory usage: 20.5+ KB

In [26]:
# добавим столбец (чтобы не изменять исходные данные) с датой в формате datetime
df_discharge['date'] = pd.to_datetime(df_discharge['дата обнаружения'])

In [27]:
df_discharge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 651 entries, 0 to 650
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ягода             651 non-null    object
 1   вес               651 non-null    int64
 2   цвет              651 non-null    object
 3   дата обнаружения  651 non-null    object
 4   date              651 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 25.6+ KB

In [28]:
# добавим столбец с номером дня недели
df_discharge['weekday'] = df_discharge['date'].dt.dayofweek

In [29]:
df_discharge.head()

          ягода  вес     цвет дата обнаружения       date  weekday
0      брусника    6    белый       18.02.2014 2014-02-18        1
1       ежевика    5  красный       01.08.2012 2012-01-08        6
2        малина    4  красный       07.07.2013 2013-07-07        6
3  волчья ягода    4    белый       01.03.2002 2002-01-03        3
4     крыжовник    5   черный       18.02.2017 2017-02-18        5

In [30]:
# собственно найдем день недели в который было обнаружено больше всего ягод белого цвета
weekday_white_berry = {} # создадим словарь, куда будем записывать день недели и кол-во белых ягод
for day in df_discharge.weekday.unique():
    day_count = df_discharge.loc[ (df_discharge['цвет'] == 'белый') &
                    (df_discharge['weekday'] == day) ]['ягода'].count()
    weekday_white_berry[day] = day_count
weekday_white_berry

{1: 40, 6: 34, 3: 49, 5: 44, 0: 39, 4: 42, 2: 38}

In [31]:
best_week_day = max(weekday_white_berry, key=weekday_white_berry.get)
best_week_day

3

In [34]:
# создадим словарь с днями недели
days = {0: "Понедельник", 1: "Вторник", 2: "Среда", 3: "Четверг", 4: "Пятница", 5: "Суббота", 6: "Воскресенье"}
days

{0: 'Понедельник',
 1: 'Вторник',
 2: 'Среда',
 3: 'Четверг',
 4: 'Пятница',
 5: 'Суббота',
 6: 'Воскресенье'}

In [36]:
print(f'Больше всего ягод белого цвета обнаружено в день недели: {days[best_week_day]}')

Больше всего ягод белого цвета обнаружено в день недели: Четверг