## Задание

#### Провести анализ выгрузки и ответить на вопросы:
1	Сколько можно сделать шагов максимально/минимально при утилизации ягод в разрезе разных данных  
2	Дайте полный анализ несоответствия данных справочника и выгрузки  
3	Составьте сводную таблицу с итогами количества ягод по цвету  
4	Укажите сколько ягод имеют разные цвета в пределах первой половины справочника  
5	Найти соотношение количества ягод из выгрузки при котором будет сделано 0 шагов  
6	Найти соотношение количества ягод из выгрузки при котором будет сделано от 50  до 80 шагов  
7	Определить в какие по счету дни ягоды не обнаруживаются  
8	Определить в какой день недели обнаружено больше всего ягод белого цвета

In [148]:
# импортируем нужные библиотеки
import pandas as pd
import numpy as np
import datetime as dt

In [149]:
# загружаем данные в датафреймы
df_discharge = pd.read_csv('выгрузка.csv', sep=';', encoding='1251')

In [150]:
df_discharge.head()

          ягода  вес     цвет дата обнаружения
0      брусника    6    белый       18.02.2014
1       ежевика    5  красный       01.08.2012
2        малина    4  красный       07.07.2013
3  волчья ягода    4    белый       01.03.2002
4     крыжовник    5   черный       18.02.2017

In [151]:
df_discharge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 651 entries, 0 to 650
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ягода             651 non-null    object
 1   вес               651 non-null    int64
 2   цвет              651 non-null    object
 3   дата обнаружения  651 non-null    object
dtypes: int64(1), object(3)
memory usage: 20.5+ KB

In [152]:
df_discharge.describe()

              вес
count  651.000000
mean     5.067588
std      1.008446
min      4.000000
25%      4.000000
50%      5.000000
75%      6.000000
max      7.000000

пропусков нет, очищать данные перед анализом не нужно

In [153]:
df_directory = pd.read_csv('справочник.csv', sep=';', encoding='1251')

In [154]:
df_directory

          ягода  вес  шагов дает  количество в лесу
0      брусника    5          20                 50
1       ежевика    6          15                 60
2        малина    4          13                 70
3  волчья ягода    5         -18                100
4     крыжовник    6           5                 80
5      брусника    5           8                 90
6       ежевика    4          23                 60
7        малина    4          19                 10
8         арбуз  250         900                  1
9       черника    7          18                 20

Загрузили данные в датафреймы, теперь можно приступать к заданиям.

#### 1	Сколько можно сделать шагов максимально/минимально при утилизации ягод в разрезе разных данных

Не очень понимаю задания, как шаги увязать с выгрузкой. Что значит столбец "шагов дает". Что значит "утилизация" в контексте наших данных, и что значит "в разрезе РАЗНЫХ данных".

В справочнике у нас есть для одних и тех же ягод разное кол-во шагов, например у брусники может быть 20 и 8 шагов, разделим данные по максимальному и минимальному кол-ву шагов.

In [155]:
df_step_max = df_directory.groupby('ягода', as_index=False)['шагов дает'].max()
df_step_max

          ягода  шагов дает
0         арбуз         900
1      брусника          20
2  волчья ягода         -18
3       ежевика          23
4     крыжовник           5
5        малина          19
6       черника          18

In [156]:
df_step_min = df_directory.groupby('ягода', as_index=False)['шагов дает'].min()
df_step_min

          ягода  шагов дает
0         арбуз         900
1      брусника           8
2  волчья ягода         -18
3       ежевика          15
4     крыжовник           5
5        малина          13
6       черника          18

In [157]:
# присоединим столбец с шагами к выгрузке (максимальные шаги)
df_dis_stepmax = df_discharge.merge(df_step_max, on='ягода', how='left')
df_dis_stepmax.sample(10)

            ягода  вес     цвет дата обнаружения  шагов дает
174     крыжовник    5    белый       01.09.2019           5
638       ежевика    5    белый       22.03.2018          23
250        малина    4    белый       06.04.2016          19
292        малина    4  красный       06.01.2004          19
584       ежевика    5    белый       17.09.2016          23
52        ежевика    5  красный       12.08.2015          23
362  волчья ягода    4  красный       11.11.2021         -18
1         ежевика    5  красный       01.08.2012          23
599     крыжовник    6    белый       16.07.2016           5
311  волчья ягода    5  красный       20.03.2001         -18

In [158]:
# присоединим столбец с шагами к выгрузке (минимальные шаги)
df_dis_stepmin = df_discharge.merge(df_step_min, on='ягода', how='left')
df_dis_stepmin.sample(10)

            ягода  вес     цвет дата обнаружения  шагов дает
337  волчья ягода    4    белый       10.03.2005         -18
82      крыжовник    6    белый       14.10.2010           5
47        ежевика    5   черный       19.05.2007          15
634        малина    4  зеленый       01.09.2010          13
394      брусника    4  красный       15.09.2005           8
299      брусника    4    белый       10.11.2021           8
347     крыжовник    7    белый       20.12.2013           5
41       брусника    4  зеленый       11.04.2021           8
246        малина    4    белый       21.12.2017          13
569  волчья ягода    4   черный       23.04.2003         -18

In [159]:
# выведем результат
print(f'Максимальное кол-во шагов для утилизации ягод: {df_dis_stepmax["шагов дает"].sum()}')
print(f'Минимальное кол-во шагов для утилизации ягод: {df_dis_stepmin["шагов дает"].sum()}')

Максимальное кол-во шагов для утилизации ягод: 6299
Минимальное кол-во шагов для утилизации ягод: 2763

#### 2	Дайте полный анализ несоответствия данных справочника и выгрузки

Общие столбцы у нас это название ягоды и вес, также из выгрузки можно получить общее кол-во ягод в лесу.

In [160]:
df_directory['ягода'].unique()

array(['брусника', 'ежевика', 'малина', 'волчья ягода', 'крыжовник',
       'арбуз', 'черника'], dtype=object)

In [161]:
# разные ягоды в справочнике
diff_berry_dir = df_directory['ягода'].unique()
diff_berry_dir

array(['брусника', 'ежевика', 'малина', 'волчья ягода', 'крыжовник',
       'арбуз', 'черника'], dtype=object)

In [162]:
# разные ягоды в выгрузке
diff_berry_dis = df_discharge['ягода'].unique()
diff_berry_dis

array(['брусника', 'ежевика', 'малина', 'волчья ягода', 'крыжовник'],
      dtype=object)

In [163]:
# различия между двумя массивами
np.setdiff1d(diff_berry_dir, diff_berry_dis)

array(['арбуз', 'черника'], dtype=object)

В справочнике есть ягоды 'арбуз' и 'черника', в выгрузке их нет.

Посмотрим что с количеством.

In [164]:
df_discharge.head()

          ягода  вес     цвет дата обнаружения
0      брусника    6    белый       18.02.2014
1       ежевика    5  красный       01.08.2012
2        малина    4  красный       07.07.2013
3  волчья ягода    4    белый       01.03.2002
4     крыжовник    5   черный       18.02.2017

In [165]:
# выведем общее количество ягод в выгрузке
for berry in df_discharge['ягода'].unique():
    print(berry, end=' - ')
    print(df_discharge['ягода'][df_discharge['ягода'] == berry].count())

брусника - 132
ежевика - 130
малина - 152
волчья ягода - 148
крыжовник - 89

In [166]:
# выведем общее количество ягод в справочнике
for berry in df_directory['ягода'].unique():
    print(berry, end=' - ')
    print(df_directory['количество в лесу'][df_directory['ягода'] == berry].sum())

брусника - 140
ежевика - 120
малина - 80
волчья ягода - 100
крыжовник - 80
арбуз - 1
черника - 20

Видим, что разное количесво для каждых ягод в выгрузке и в справочнике

In [167]:
df_directory

          ягода  вес  шагов дает  количество в лесу
0      брусника    5          20                 50
1       ежевика    6          15                 60
2        малина    4          13                 70
3  волчья ягода    5         -18                100
4     крыжовник    6           5                 80
5      брусника    5           8                 90
6       ежевика    4          23                 60
7        малина    4          19                 10
8         арбуз  250         900                  1
9       черника    7          18                 20

In [168]:
# в справочнике есть одинаковые ягоды с разным весом, посмотрим что в справочнике и что в выгрузке
for berry in df_directory['ягода'].unique():
    print(berry, end=' - ')
    print(df_directory['вес'][df_directory['ягода'] == berry].unique())

брусника - [5]
ежевика - [6 4]
малина - [4]
волчья ягода - [5]
крыжовник - [6]
арбуз - [250]
черника - [7]

т.е. только ежевика имеет разный вес, посмотрим что в выгрузке

In [169]:
for berry in df_discharge['ягода'].unique():
    print(berry, end=' - ')
    print(df_discharge['вес'][df_discharge['ягода'] == berry].unique())

брусника - [6 5 4]
ежевика - [5 7 6]
малина - [4]
волчья ягода - [4 6 5]
крыжовник - [5 6 7]

в выгрузке все кроме малицы могут быть трех разных весов.

#### 3 Составьте сводную таблицу с итогами количества ягод по цвету

In [170]:
# по цверу в разрезе ягод
pivot_color_berry = df_discharge.pivot_table(
                        index='ягода', 
                        columns='цвет', 
                        values='вес', 
                        aggfunc='count')
pivot_color_berry

цвет          белый  зеленый  красный  черный
ягода
брусника         58       20       31      23
волчья ягода     62       16       45      25
ежевика          58       18       32      22
крыжовник        38       13       26      12
малина           70       23       41      18

In [171]:
# общее количество по цвету, независимо от вида ягоды
pivot_color = df_discharge.pivot_table(
                        index='цвет', 
#                        columns='цвет', 
                        values='вес', 
                        aggfunc='count')
pivot_color

         вес
цвет
белый    286
зеленый   90
красный  175
черный   100

#### 4 Укажите сколько ягод имеют разные цвета в пределах первой половины справочника

In [172]:
df_directory

          ягода  вес  шагов дает  количество в лесу
0      брусника    5          20                 50
1       ежевика    6          15                 60
2        малина    4          13                 70
3  волчья ягода    5         -18                100
4     крыжовник    6           5                 80
5      брусника    5           8                 90
6       ежевика    4          23                 60
7        малина    4          19                 10
8         арбуз  250         900                  1
9       черника    7          18                 20

In [173]:
# Найдем индекс последнего элемента первой половины справочника
half_dir_ind = len(df_directory) // 2 - 1 # -1 т.к. индексация начинается с 0.
half_dir_ind

4

In [174]:
df_half_dir = df_directory.loc[:half_dir_ind]
df_half_dir

          ягода  вес  шагов дает  количество в лесу
0      брусника    5          20                 50
1       ежевика    6          15                 60
2        малина    4          13                 70
3  волчья ягода    5         -18                100
4     крыжовник    6           5                 80

In [175]:
x = 0 # кол-во ягод где больше 1 разных цветов
for berry in df_half_dir['ягода'].unique():
    diff_colors = len(df_discharge['цвет'][df_discharge['ягода'] == berry].unique())
    if diff_colors > 1:
        x += 1
print(f'{x} ягод имеют разные цвета в пределах первой половины справочника')

5 ягод имеют разные цвета в пределах первой половины справочника

In [176]:
# Ну и можем в этом убедиться распечатав встречающиеся цвета ягод
for berry in df_half_dir['ягода'].unique():
    print(berry, end=':\nцвета: ')
    print(df_discharge['цвет'][df_discharge['ягода'] == berry].unique())

брусника:
цвета: ['белый' 'зеленый' 'красный' 'черный']
ежевика:
цвета: ['красный' 'белый' 'черный' 'зеленый']
малина:
цвета: ['красный' 'белый' 'черный' 'зеленый']
волчья ягода:
цвета: ['белый' 'красный' 'зеленый' 'черный']
крыжовник:
цвета: ['черный' 'белый' 'красный' 'зеленый']

#### 5 Найти соотношение количества ягод из выгрузки при котором будет сделано 0 шагов

In [177]:
# кол-во шагов в справочнике может быть разным для одних и тех же ягод, возьмем из минимальных.
# какую агрегатную функцию применять после группировки разницы нет, т.к. данные (шаги) одинаковые
df_dis_stepmin[['ягода', 'шагов дает']].groupby('ягода', as_index=False).min()

          ягода  шагов дает
0      брусника           8
1  волчья ягода         -18
2       ежевика          15
3     крыжовник           5
4        малина          13

в минус у нас дает только 'волчья ягода', и видно, например, что 1 крыжовник + 1 малина + 1 волчья ягода даст в сумме 0 шагов.
таких сочетаний будет много, но конечное количество, как написать запрос что он выдал все возможные варианты, либо выбирал рандомный, пока не знаю

#### 6 Найти соотношение количества ягод из выгрузки при котором будет сделано от 50 до 80 шагов

In [178]:
#Ну тоже самое, в минус только волчья ягода, возьмем теперь для примера из максимальных шагов
df_dis_stepmax[['ягода', 'шагов дает']].groupby('ягода', as_index=False).min()

          ягода  шагов дает
0      брусника          20
1  волчья ягода         -18
2       ежевика          23
3     крыжовник           5
4        малина          19

можно просто собрать ягоды до диапазона 50-80 шагов, например 2 брусники + ежевика, либо 2 малины + брусника, либо набрать почти любой кол-во ягод и потом "минусовать" шаги волчьей ягодой.

#### 7 Определить в какие по счету дни ягоды не обнаруживаются

Даты обнаружения идут от 2001 по 2021 год, по 3-4 обнаружения в месяц, в остальные дни ягоды не обнаруживаются.

#### 8 Определить в какой день недели обнаружено больше всего ягод белого цвета

In [179]:
df_discharge.head()

          ягода  вес     цвет дата обнаружения
0      брусника    6    белый       18.02.2014
1       ежевика    5  красный       01.08.2012
2        малина    4  красный       07.07.2013
3  волчья ягода    4    белый       01.03.2002
4     крыжовник    5   черный       18.02.2017

In [180]:
df_discharge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 651 entries, 0 to 650
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ягода             651 non-null    object
 1   вес               651 non-null    int64
 2   цвет              651 non-null    object
 3   дата обнаружения  651 non-null    object
dtypes: int64(1), object(3)
memory usage: 20.5+ KB

In [181]:
# добавим столбец (чтобы не изменять исходные данные) с датой в формате datetime
df_discharge['date'] = pd.to_datetime(df_discharge['дата обнаружения'])

In [182]:
df_discharge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 651 entries, 0 to 650
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ягода             651 non-null    object
 1   вес               651 non-null    int64
 2   цвет              651 non-null    object
 3   дата обнаружения  651 non-null    object
 4   date              651 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 25.6+ KB

In [183]:
# добавим столбец с номером дня недели
df_discharge['weekday'] = df_discharge['date'].dt.dayofweek

In [184]:
df_discharge.head()

          ягода  вес     цвет дата обнаружения       date  weekday
0      брусника    6    белый       18.02.2014 2014-02-18        1
1       ежевика    5  красный       01.08.2012 2012-01-08        6
2        малина    4  красный       07.07.2013 2013-07-07        6
3  волчья ягода    4    белый       01.03.2002 2002-01-03        3
4     крыжовник    5   черный       18.02.2017 2017-02-18        5

In [185]:
# собственно найдем день недели в который было обнаружено больше всего ягод белого цвета
weekday_white_berry = {} # создадим словарь, куда будем записывать день недели и кол-во белых ягод
for day in df_discharge.weekday.unique():
    day_count = df_discharge.loc[ (df_discharge['цвет'] == 'белый') &
                    (df_discharge['weekday'] == day) ]['ягода'].count()
    weekday_white_berry[day] = day_count
weekday_white_berry

{1: 40, 6: 34, 3: 49, 5: 44, 0: 39, 4: 42, 2: 38}

In [186]:
best_week_day = max(weekday_white_berry, key=weekday_white_berry.get)
best_week_day

3

In [187]:
# создадим словарь с днями недели
days = {0: "Понедельник", 1: "Вторник", 2: "Среда", 3: "Четверг", 4: "Пятница", 5: "Суббота", 6: "Воскресенье"}
days

{0: 'Понедельник',
 1: 'Вторник',
 2: 'Среда',
 3: 'Четверг',
 4: 'Пятница',
 5: 'Суббота',
 6: 'Воскресенье'}

In [188]:
print(f'Больше всего ягод белого цвета обнаружено в день недели: {days[best_week_day]}')

Больше всего ягод белого цвета обнаружено в день недели: Четверг